@import "~@fortawesome/fontawesome-free/css/all.css";

.nav--bar {
  text-align: center;
  background: #f55a5a;
}

.travel-img {
  width: 250px;
  border-radius: 5px;
}

.text-theme {
  color: #f55a5a;
}

@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
  .travel-img {
    max-width: 100%;
  }
}
